.application.sheet.pirate-crew {
  .null {
    border: 1px dashed var(--color-form-hint);
    color: var(--color-form-hint);
    flex-grow: 1;
    font-style: italic;
    font-weight: 300;
    padding: 1em;
    text-align: center;
  }

  .crew-header {
    --pirate-crew-title-width: calc(100% - 100px - 2em);
    position: relative;

    h1 {
      align-items: center;
      display: flex;
      height: 100px;
      margin: 0;
      width: var(--pirate-crew-title-width);
    }

    input[name="name"] {
      font-size: var(--font-h1-size);
      height: 100px;
      width: var(--pirate-crew-title-width);
    }

    img {
      float: left;
      margin: 0 2em 0 0;
      height: 100px;
      width: 100px;
    }

    .edit-toggle {
      position: absolute;
      right: 0;
      top: 1em;
    }

    .related {
      align-items: center;
      display: flex;
      gap: 1em;
      margin: 0 0 1em 0;
    }
  }

  .tab {
    padding: 2em;
  }

  .tab[data-tab="articles"][data-mode="view"] {
    ol {
      list-style-type: upper-roman;
    }
  }

  .officer {
    .null {
      margin: 1em 0;
      padding: 2em;
    }

    & + .officer {
      border-top: 1px solid var(--color-form-hint);
      margin-top: 2em;
      padding-top: 2em;
    }
  }
}
