.application.sheet.pirate-crew {
  .crew-header {
    --pirate-crew-title-width: calc(100% - 100px - 2em);
    position: relative;

    h1 {
      align-items: center;
      display: flex;
      height: 100px;
      margin: 0;
      width: var(--pirate-crew-title-width);
    }

    input[name="name"] {
      font-size: var(--font-h1-size);
      height: 100px;
      width: var(--pirate-crew-title-width);
    }

    img {
      float: left;
      margin: 0 2em 0 0;
      height: 100px;
      width: 100px;
    }

    .edit-toggle {
      position: absolute;
      right: 0;
      top: 1em;
    }
  }

  .tab {
    padding: 2em;
  }

  .tab[data-tab="articles"][data-mode="view"] {
    ol {
      list-style-type: upper-roman;
    }
  }
}